<form action="/payment/results">
<label for="num1"></label>

<label for="num2"></label>

<label for="num3"></label>

<div>
APR <input id="num1" type="text" placeholder="e.g. 5.42" name="num1">
<div>

<div>
Number of Years<input id="num2" type="text" placeholder="How many years to repay?" name="leopard">
<div>
<div>
Principal <input id="num3" type="text" placeholder="How much principal?" name="num3">
<div>

<button>Calculate monthly payment </button>
</form>
