<h1>Payment Results</h1>

<dl>
  <dt>APR</dt>
  <dd><%=@APR%></dd>

  <dt>Number of Years</dt>
  <dd><%=@num_years%></dd>

  <dt>Principal</dt>
  <dd><%=@principal%></dd>

  <dt>Payment</dt>
  <dd><%=@monthly_pay%></dd>



</dl>

<a href="/payment/new""> Calculate another payment
