<form action="/payment/results">

<div>
<label for="num1">APR</label>
<input id="num1" type="text" placeholder="e.g. 5.42" name="num1">
<div>

<div>
<label for="num2">Number of Years</label>
<input id="num2" type="text" placeholder="How many years to repay?" name="num2">
<div>
<div>
<label for="num1">Principal</label>
<input id="num3" type="text" placeholder="How much principal?" name="num3">
<div>

<button>Calculate monthly payment </button>
</form>
