<form action="/random/results">

<label for="Maximum"></label>



<div>
<label for="Minimum">Minimum</label>
<input id="ran1" type="text" placeholder="e.g. 1.5" name="Minimum">
<div>

<div>
<label for="Maximum">Maximum</label>
Max <input id="ran2" type="text" placeholder="e.g. 4.5" name="Maximum">
<div>

<div>
<button>Pick random number </button>
</form>
<div>
