<form action="/square_root/results">
<label for="leopard">Enter a number</label>
<input id="leopard" type="text" placeholder="What number do you want to square?" name="leopard">

<button>Calculate square root </button>
</form>
